#### USING iptables
#$ sudo iptables -A INPUT -p tcp --dport 22 -s 192.168.0.0/16 -j ACCEPT
#$ sudo iptables -A INPUT -p tcp --dport 22 -s 127.0.0.0/8 -j ACCEPT
#$ sudo iptables -A INPUT -p tcp --dport 22 -j REJECT
#$ sudo /sbin/iptables-save
#
#
#### USING ufw
#$ sudo ufw reset
#$ sudo ufw enable
#$ sudo ufw allow proto tcp from 127.0.0.0/8 to any port 22
#$ sudo ufw allow proto tcp from 192.168.0.0/16 to any port 22
#$ sudo ufw allow proto tcp from 192.168.30.0/24 to any
#$ sudo ufw allow proto tcp from 192.168.40.0/24 to any
#$ sudo ufw reject proto tcp from any to any port 22
#$ sudo ufw status

#### Opening Network Manager GUI
#$ gnome-control-center network

#### Setting routes
#$ sudo /sbin/route add -net 192.168.30.0 netmask 255.255.255.0 dev enp179s0f0
#$ sudo /sbin/route add -net 192.168.40.0 netmask 255.255.255.0 dev enp179s0f0
