*.pyc
*.h5
*.hdf5
*.csv
*.pdf
*.png
AcquisitionScripts/__pycache__/*
AcquisitionScripts/.ipynb_checkpoints/*
AnalysisScripts/__pycache__/*
AnalysisScripts/.ipynb_checkpoints/*
DeviceControl/__pycache__/*
DeviceControl/*/__pycache__/*
DeviceControl/RF_Switch/__pycache__/*
